# {{ ansible_managed }}
[Unit]
Description=The easiest way to run WireGuard VPN with Web-based Admin UI

[Service]
Environment=DEBUG=Server,Wireguard
Environment=WG_HOST={{ wiregaurd_easy_wg_host }} 
Environment=WG_DEFAULT_ADDRESS={{ wiregaurd_easy_wg_default_address }}
Environment=WG_DEFAULT_DNS={{ wiregaurd_easy_wg_default_dns }}
Environment=PASSWORD={{ wiregaurd_easy_password }}

WorkingDirectory={{ wiregaurd_easy_bin_path }}
ExecStart=node server.js

[Install]
WantedBy=default.target
